@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Logga in</h2>

<p>
    <a href="@ViewBag.GoogleUrl"><img src="/Content/images/sign-in-with-google.png" alt="Sign in with Google" height="60" /></a>
</p>

<p>
    WinShooter har inte någon egen användardatabas med lösenord utan stället loggar du in med sociala medier.
    På så vis minskar vi supportkostnaden för t.ex. glömda lösenord.
</p>
<p>
    När du loggar in skriver du ditt lösenord direkt hos t.ex. Google. WinShooter får aldrig tillgång till ditt lösenord.
</p>