<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetOpenAuth.Ultimate" version="4.3.4.13329" targetFramework="net45" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net45" />
  <package id="NHibernate" version="3.3.3.4000" targetFramework="net45" />
  <package id="ServiceStack" version="3.9.56" targetFramework="net45" />
  <package id="ServiceStack.Authentication.OpenId" version="3.9.56" targetFramework="net45" />
  <package id="ServiceStack.Common" version="3.9.56" targetFramework="net45" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.56" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="3.9.57" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.56" targetFramework="net45" />
</packages>