@{
    ViewBag.Title = "CompetitionRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 data-bind="value: competitionName"></h1>

<form role="form">
    <div class="form-group">
        <label for="selectedCompetitionName">Namn:</label>
        <input class="form-control" id="selectedCompetitionName" data-bind="value: competitionName, visible:userCanUpdateCompetition()" />
        <p data-bind="text: competitionName, visible:!userCanUpdateCompetition()"></p>
    </div>
    <div class="form-group">
        <label for="selectedCompetitionStartDate">Datum:</label>
        <input class="form-control" id="selectedCompetitionStartDate" data-bind="value: competitionStartDate, visible:userCanUpdateCompetition()">
        <p data-bind="text: competitionStartDate, visible:!userCanUpdateCompetition()"></p>
    </div>
    <div class="checkbox">
        <label class="checkbox" for="selectedCompetitionIsPublic">
            <input type="checkbox" id="selectedCompetitionIsPublic" data-bind="checked: competitionIsPublic, disable:!userCanUpdateCompetition()" data-toggle="checkbox" />
            Publik tävling
        </label>
    </div>
    <div class="checkbox">
        <label class="checkbox" for="selectedCompetitionUseNorwegianCount">
            <input type="checkbox" id="selectedCompetitionUseNorwegianCount" data-bind="checked: competitionUseNorwegianCount, disable:!userCanUpdateCompetition()" data-toggle="checkbox" />
            Poängfältskytte
        </label>
    </div>
    <div class="form-group">
        <input type="button" class="btn btn-primary" value="Uppdatera" data-bind="visible:userCanUpdateCompetition, click: updateCompetition" />
        <input type="button" class="btn btn-danger" value="Radera" data-bind="visible:userCanDeleteCompetition, click: deleteCompetition" />
    </div>
</form>


@section scripts {
    @Scripts.Render("~/Scripts/App/Home/competition.js")
}
