@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .ui-datepicker {
        background: #FFFFFF;
        border: 1px solid #555;
        color: #000000;
    }
</style>

<h1>Välkommen till WinShooter!</h1>

<div class="row-fluid">
    <div class="span2">
        <p>Du kan nu</p>
        <ul>
            <li>välja en befintlig tävling att titta på eller</li>
            <li>skapa en ny tävling (kräver inloggning)</li>
        </ul>
    </div>
</div>

<form role="form">
    <div class="form-group">
        <label for="competitionid">Befintlig tävling:</label>
        <select class="form-control" id="competitionid" data-bind="options: competitions, optionsText: 'Name', value: selectedCompetition, optionsCaption: 'Välj...'"></select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" data-bind="click: selectCompetitionOnServer">Välj tävling</button>
    </div>

    <h3>Information om den valda tävlingen</h3>
    <div class="form-group">
        <label for="selectedCompetitionName">Namn:</label>
        <input class="form-control" id="selectedCompetitionName" data-bind="value: selectedCompetitionName, disable:selectedCompetitionUserCannotUpdateCompetition" />
    </div>
    <div class="form-group">
        <label for="selectedCompetitionStartDate">Datum:</label>
        <input class="form-control" id="selectedCompetitionStartDate" data-bind="value: selectedCompetitionStartDate, disable:selectedCompetitionUserCannotUpdateCompetition">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" data-bind="checked: selectedCompetitionIsPublic, disable:selectedCompetitionUserCannotUpdateCompetition" />
            Publik tävling
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" data-bind="checked: selectedCompetitionUseNorwegianCount, disable:selectedCompetitionUserCannotUpdateCompetition" />
            Poängfältskytte
        </label>
    </div>
    <div class="form-group">
        <input type="button" class="btn btn-primary" value="Uppdatera" data-bind="visible:selectedCompetitionUserCanUpdateCompetition, click: updateCompetition" />
        <input type="button" class="btn btn-danger" value="Radera" data-bind="visible:selectedCompetitionUserCanDeleteCompetition, click: deleteCompetition" />
    </div>

    <div style="display: none" data-bind="visible: loginViewModel.isLoggedIn">
        <h3>Skapa ny tävling</h3>
        <div class="form-group">
            <label for="newCompetitionName">Namn:</label>
            <input class="form-control" id="newCompetitionName" data-bind="value: newCompetitionName" />
        </div>
        <div class="form-group">
            <label for="newCompetitionStartDate">Startar:</label>
            <input class="form-control" type="text" id="newCompetitionStartDate" data-bind="value: newCompetitionStartDate" />
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="button" id="newCompetitionAddNow" value="Lägg till" data-bind="click: addCompetition" />
        </div>
    </div>
</form>

@section scripts {
        @Scripts.Render("~/Scripts/App/Home/index.js")
}
