@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .ui-datepicker {
        background: #FFFFFF;
        border: 1px solid #555;
        color: #000000;
    }
</style>

<h1>Välkommen till WinShooter!</h1>

<div class="row-fluid">
    <div class="span2">
        <p>Du kan nu</p>
        <ul>
            <li>välja en befintlig tävling att titta på eller</li>
            <li>@Html.ActionLink("skapa en ny tävling (kräver inloggning)", "NewCompetition", "Home")</li>
        </ul>
    </div>
</div>

<form role="form">
    <div class="form-group">
        <label for="competitionid">Befintlig tävling:</label>
        <select class="form-control" id="competitionid" data-bind="options: competitions, optionsText: 'Name', value: selectedCompetition, optionsCaption: 'Välj...'"></select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" data-bind="click: selectCompetitionOnServer">Välj tävling</button>
    </div>

    <h3>Information om den valda tävlingen</h3>
    <div class="form-group">
        <label for="selectedCompetitionName">Namn:</label>
        <input class="form-control" id="selectedCompetitionName" data-bind="value: selectedCompetitionName" />
    </div>
    <div class="form-group">
        <label for="selectedCompetitionStartDate">Datum:</label>
        <input class="form-control" id="selectedCompetitionStartDate" data-bind="value: selectedCompetitionStartDate">
    </div>
    <div class="checkbox">
        <label class="checkbox" for="selectedCompetitionIsPublic">
            <input type="checkbox" id="selectedCompetitionIsPublic" data-toggle="checkbox" />
            Publik tävling
        </label>
    </div>
    <div class="checkbox">
        <label class="checkbox" for="selectedCompetitionUseNorwegianCount">
            <input type="checkbox" id="selectedCompetitionUseNorwegianCount" data-toggle="checkbox" />
            Poängfältskytte
        </label>
    </div>
</form>

@section scripts {
        @Scripts.Render("~/Scripts/App/Home/index.js")
}
