@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .ui-datepicker {
        background: #FFFFFF;
        border: 1px solid #555;
        color: #000000;
    }
</style>

<h2>Välkommen till WinShooter!</h2>

<div class="row-fluid">
    <div class="span2">
        <p>Du kan nu</p>
        <ul>
            <li>välja en befintlig tävling att titta på eller</li>
            <li>skapa en ny tävling (kräver inloggning)</li>
        </ul>
    </div>
</div>

<div class="row-fluid">
    <div class="span2">Befintlig tävling:</div>
    <div class="span4"><select data-bind="options: competitions, optionsText: 'Name', value: selectedCompetition, optionsCaption: 'Välj...'"></select></div>
</div>
<div class="row-fluid">
    <div class="span2"></div>
    <div class="span4"><button type="submit" data-bind="click: selectCompetitionOnServer">Välj tävling</button></div>
</div>

<h3>Information om den valda tävlingen</h3>
<div class="row-fluid">
    <div class="span1">Namn:</div>
    <div class="span5">
        <input data-bind="value: selectedCompetitionName, disable:selectedCompetitionUserCannotEditCompetition" />
    </div>
</div>
<div class="row-fluid">
    <div class="span1">Datum:</div>
    <div class="span5">
        <input data-bind="value: selectedCompetitionStartDate, disable:selectedCompetitionUserCannotEditCompetition">
    </div>
</div>
<div class="row-fluid">
    <div class="span1">Publik tävling:</div>
    <div class="span5">
        <input type="checkbox" data-bind="checked: selectedCompetitionIsPublic, disable:selectedCompetitionUserCannotEditCompetition" />
    </div>
</div>
<div class="row-fluid">
    <div class="span1">Poängfältskytte:</div>
    <div class="span5">
        <input type="checkbox" data-bind="checked: selectedCompetitionUseNorwegianCount, disable:selectedCompetitionUserCannotEditCompetition" />
    </div>
</div>

<div style="display: none" data-bind="visible: loginViewModel.isLoggedIn">
    <h3>Skapa ny tävling</h3>
    <div class="row-fluid">
        <div class="span1">Namn:</div>
        <div class="span5"><input data-bind="value: newCompetitionName" /></div>
    </div>
    <div class="row-fluid">
        <div class="span1">Startar:</div>
        <div class="span5"><input type="text" id="newCompetitionStartDate" data-bind="value: newCompetitionStartDate" /></div>
    </div>
    <div class="row-fluid">
        <div class="span5"><input type="button" id="newCompetitionAddNow" value="Lägg till" data-bind="click: addCompetition" /></div>
    </div>
</div>

@section scripts {
        @Scripts.Render("~/Scripts/App/Home/index.js")
}
