
@{
    ViewBag.Title = "ManageCompetitionRights";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hantera rättigheter för tävlingen</h1>

@section scripts {
    @Scripts.Render("~/Scripts/App/Home/manageCompetitionRights.js")
}