<h1>WinShooter</h1>

<p>
    WinShooter startade som ett samarbete mellan Salems PK och John Allberg under 2000.
    Ursprungligen var det ett upplärdningsprojekt, då John ville lära sig .Net och C#.
    Det var en klient och en server som kördes som vanliga program och första gången det användes
    för en större tävling var Höstsaluten 2002.
</p>
<p>
    2002 kördes det paralellt med det andra DOS-baserade programmet som användes mycket i
    skyttekretsar. Det gick mycket bra och under Höstsaluten 2003 var det bara WinShooter som
    användes.
</p>
<p>
    När John fick en liten dotter 2006 insåg han att han inte längre hade tiden att underhålla
    WinShooter på ett professionellt sätt och lade WinShooter därför som 
    <a href="http://sourceforge.net/projects/winshooter/">öppen källkod på SourceForge</a>.
    Det var dock inte många som ville hjälpa till så projektet somnade i stort sett in.
</p>
<p>
    Microsoft Windows Vista kom 2007-01-30 och då tog Microsoft bort ADOX som användes för att skapa databasen.
    Därför fungerar inte WinShooter "classic" på Vista och senare.
</p>
<p>
    Sommaren 2012 satt John & Jonas F och pratade "data" och kom fram till att de skulle börja 
    med en ny version av WinShooter, baserad på Microsoft MPF och WCF. Det var ett totalt 
    misslyckande att välja dessa två tekniker, de var utrangerade av branschen inom ett år.
</p>
<p>
    Sommaren 2013 satt åter John & Jonas och pratade "data" och kom fram till att de skulle börja 
    med en ny version av WinShooter, denna gång baserad på WebAPI och HTML5.
</p>
<p>
    Och så levde de lyckliga i alla sina dagar!
</p>

<h3>Vi som har hjälpt till:</h3>
<ul>
    <li>John Allberg - Design och majoriteten av koden</li>
    <li>Jonas Fredriksson - Design och kod, bl.a. bootstrap-anpassning</li>
</ul>

<h3>Sponsorer</h3>
<a href="http://www.ayoy.se">
    <img src="/Content/images/sponsors/ayoylogo.png" />
    Riding the crest of the digital identity wave
</a>

<h3>Fel eller förbättringar?</h3>
<p>Har du hittat ett fel eller har en förbättring som du tycker vi ska lägga in? Titta in på 
    <a href="https://github.com/WinShooter/WinShooter-Web/issues">github</a> och se om det redan 
    ligger ett ärende på det, annars kan du skriva ett eget.</p>
<p>Vi ser självklart gärna att du lägger med källkod i ärendet som löser problemet.</p>
<p>Om du vill vara med och förvalta WinShooter, ta kontakt med 
    <a href="mailto:john(at)winshooter.se">John Allberg</a>.</p>
