<h1>WinShooter</h1>

<h3>Stödja WinShooter</h3>
<p>Vill du stödja utvecklingen av WinShooter? Vi har direkta kostnader på ungefär 100 kr / månad för webb-hosting i Azure. Sätt gärna in pengar på PayPal:</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
    <p>
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="GXM6NWAXAJWES">
        <input type="image" src="https://www.paypalobjects.com/en_US/SE/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </p>
</form>
<p>
    <strong><i>Vi behöver också massor av hjälp med utvecklingen.</i></strong>.
    Hör av dig till <a href="https://github.com/smuda">John</a> och titta gärna in
    på <a href="https://github.com/WinShooter/WinShooter-Web/issues">github</a>
    och se om du kan ta tag i någon av ärendena som ligger där. All källkod
    finns såklart på
    <a href="https://github.com/WinShooter/WinShooter-Web">github</a>. När du
    är klar, gör en pull request på vanligt sätt.
</p>

<h3>Support</h3>
<p>
    Har du hittat ett fel eller har en förbättring som du tycker vi ska lägga
    in? Titta in
    <a href="https://github.com/WinShooter/WinShooter-Web/issues">
        ärenden på Github
    </a> och se om det redan ligger ett ärende på det annars kan du skriva
    ett eget. Kom ihåg att lämna så mycket information du kan.
</p>
<p>
    Det finns också en
    <a href="http://sourceforge.net/p/winshooter/mailman">epostlista</a> där du
    kan skicka och ta emot meddelanden från andra användare av WinShooter.
</p>
<p>
    Vill du ha användarstöd kan du vända dig till någon av utvecklarna. Tänk
    på att vi gör WinShooter på vår obetalda fritid och att du inte kan kräva
    uppmärksamhet. En variant är alltid att erbjuda betalning.
</p>

<h3>WinShooters historia</h3>
<p>
    WinShooter startade som ett samarbete mellan Salems PK och John Allberg
    under 2000. Ursprungligen var det ett upplärdningsprojekt, då John ville
    lära sig .Net och C#. Det var en klient och en server som kördes som
    vanliga program och första gången det användes för en större tävling var
    Höstsaluten 2002.
</p>
<p>
    2002 kördes det paralellt med det andra DOS-baserade programmet som
    användes mycket i skyttekretsar. Det gick mycket bra och under Höstsaluten
    2003 var det bara WinShooter som användes.
</p>
<p>
    När John fick en liten dotter 2006 insåg han att han inte längre hade
    tiden att underhålla WinShooter på ett professionellt sätt och lade
    därför WinShooter som
    <a href="http://sourceforge.net/projects/winshooter/">öppen källkod på SourceForge</a>.
    Det var dock inte många som ville hjälpa till så projektet somnade i
    stort sett in.
</p>
<p>
    Microsoft Windows Vista kom 2007-01-30 och då tog Microsoft bort ADOX som
    användes för att skapa databasen. Därför fungerar WinShooter "classic"
    inte på Vista och senare.
</p>
<p>
    Sommaren 2012 satt John & Jonas F och pratade "data" och kom fram till
    att de skulle börja med en ny version av WinShooter, baserad på Microsoft
    WPF och WCF. Det var ett totalt misslyckande att välja dessa två tekniker,
    de var utrangerade av branschen inom ett år.
</p>
<p>
    Sommaren 2013 satt åter John & Jonas och pratade "data" och kom fram till
    att de skulle börja med en ny version av WinShooter, denna gång baserad på
    WebAPI och HTML5.
</p>
<p>
    Och så levde de lyckliga i alla sina dagar!
</p>

<h3>Vi som har hjälpt till:</h3>
<ul>
    <li><a href="https://github.com/smuda">John Allberg - Design och majoriteten av koden</a></li>
    <li><a href="https://github.com/jonasf">Jonas fredriksson - design och kod, bl.a. bootstrap-anpassning</a></li>
</ul>

<h3>Sponsorer</h3>
<p>
    <a href="https://www.ayoy.se">
        <img src="/Content/images/sponsors/ayoylogo.png" />
        Riding the crest of the digital identity wave
    </a>
</p>
<p>
    <a href="http://www.allberg.se">
        <img src="/Content/images/sponsors/allberglogo.png" />
        Allberg Konsult
    </a>
</p>