<div>
    <div ng-show="currentUser.IsLoggedIn">
        <h1>Skapa ny tävling</h1>

        <div>
            När du skapar en tävling och börjar lägga upp skyttar skapar du enligt Personuppgiftslagen ett elektroniskt register.
        </div>

        <div class="form-group">
            <label for="newCompetitionName">Tävlingens namn:</label>
            <input class="form-control" id="newCompetitionName" ng-model="Name" />
        </div>

        <div class="form-group">
            <p><label for="newCompetitionStartDate">Startar datum:</label></p>
            <div style="display:inline-block; min-height:290px;" id="newCompetitionStartDate">
                <div class="well well-sm" ng-model="StartDate">
                    <datepicker min="minDate" show-weeks="datePickerShowWeeks" format="datePickerFormat" starting-day="1"></datepicker>
                </div>
            </div>
            <div ng-model="StartDate" style="display:inline-block;">
                <timepicker hour-step="'1'" minute-step="'15'" show-meridian="ismeridian"></timepicker>
            </div>
        </div>

        <div class="form-group">
            <label class="checkbox" for="newCompetitionIsPublic" ng-class="{checked: IsPublic}">
                <input type="checkbox" value="" id="newCompetitionIsPublic" data-toggle="checkbox" />
                Publik tävling
            </label>
        </div>
        <div class="form-group">
            <label class="checkbox" for="newCompetitionUseNorwegianCount" ng-class="{checked: UseNorwegianCount}">
                <input type="checkbox" id="newCompetitionUseNorwegianCount" data-toggle="checkbox" />
                Poängfältskytte
            </label>
        </div>

        <div class="form-group">
            <input class="btn btn-primary" type="button" id="newCompetitionAddNow" value="Lägg till" ng-click="addCompetition()" />
        </div>
    </div>


    <div ng-show="!currentUser.IsLoggedIn">
        <h1>Skapa ny tävling</h1>
        <p>
            <small> för att kunna skapa en ny tävling måste du vara inloggad.</small>
        </p>
        <div>
            <a href="/Account/Login">Logga in</a>
        </div>
    </div>
</div>
