<div>
    <h1>Patruller</h1>
    
    <div ng-show ="!isEditing">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-block btn-lg btn-primary" ng-click="addNewPatrol()" ng-show="userCanCreatePatrol">Lägg till patrull</button>
            </div>
        </div>

        <div class="row">
            <table class="table-responsive table-striped table-bordered">
                <thead>
                    <tr>
                        <td class="header">Patrull</td>
                        <td class="header">Starttid</td>
                        <td class="header">Klass</td>
                        <td class="header">Antal</td>
                        <td class="header">Ankomna</td>
                        <td class="header">Resultat finns</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="patrol in patrols">
                        <td class="body">{{ patrol.PatrolNumber }}</td>
                        <td class="body">{{ patrol.StartTime | date : 'yyyy-MM-dd HH:mm' }}</td>
                        <td class="body">{{ patrol.PatrolClass }}</td>
                        <td class="body">{{ patrol.NumberOfCompetitors }}</td>
                        <td class="body">{{ patrol.NumberOfArrived }}</td>
                        <td class="body">{{ patrol.NumberWithResults }}</td>
                        <td class="body" ng-show="userCanUpdatePatrol || userCanDeletePatrol">
                            <a href ng-click="startEdit(patrol)">
                                <span class="glyphicon glyphicon-edit" title="Redigera patrull"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div ng-show="isEditing">
        <h1>Patrull {{ patrolToEdit.PatrolNumber }}</h1>

        <div class="form-group">
            <div class="span4">
                <button class="btn btn-primary" ng-click="saveEdit()">Spara</button>
            </div>
            <div class="span4">
                <button class="btn btn-warning" ng-click="cancelEdit()">Avbryt</button>
            </div>
            <div class="span4">
                <button class="btn btn-danger" ng-click="deletePatrol()">Radera</button>
            </div>
        </div>
    </div>
</div>
