<h1>Integritetspolicy</h1>

<p>
    WinShooter använder kakor ("cookies") för att hantera inloggning.
</p>
<p>
    Vi använder oss av Google Analytics, vilket gör att Google spårar dig och vi får ta del av viss information.
</p>
<p>
    Om du loggar in så sparar vi namn och epostadress. Det gör vi för att kunna sätta 
    rättigheter på dig och administratören för tävlingen enkelt ska kunna leta reda på 
    dig. Vi kommer inte att förmedla epostadresser eller sälja epostadresser till någon annan.
</p>
<p>
    Om du matar in ditt pistolskyttekortsnummer så kommer du att kopplas till de tävlingar
    där det förekommer. När någon anordnar en tävling och skriver till skyttekortsnummer
    så kommer ditt namn, klubb och klass att visas för att underlätta inmatningen så att 
    det blir rätt. Som tack för det får du också tillgång till din egen registrering och
    dina resultat i den tävlingen.
</p>