<div>
    <h1>Stationer</h1>
    
    <div ng-show ="!isEditing">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-block btn-lg btn-primary" ng-click="addNewStation()" ng-show="userCanCreateStation">Lägg till station</button>
            </div>
        </div>

        <div class="row">
            <table class="table-responsive table-striped table-bordered">
                <thead>
                    <tr>
                        <td class="header">Nummer</td>
                        <td class="header">Mål</td>
                        <td class="header">Skott</td>
                        <td class="header">Poäng</td>
                        <td class="header">Särskiljning</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="station in stations" repeat-done="initCheckboxes()">
                        <td class="body">{{ station.StationNumber }}</td>
                        <td class="body">{{ station.NumberOfTargets }}</td>
                        <td class="body">{{ station.NumberOfShots }}</td>
                        <td class="body">
                            <label class="checkbox" ng-class="{checked: station.Points}">
                                <input type="checkbox" data-toggle="checkbox" />
                            </label>
                        </td>
                        <td class="body">
                            <label class="checkbox" ng-class="{checked: station.Distinguish}">
                                <input type="checkbox" data-toggle="checkbox" />
                            </label>
                        </td>
                        <td class="body" ng-show="userCanUpdateStation || userCanDeleteStation">
                            <a href ng-click="startEdit(station)">
                                <span class="glyphicon glyphicon-edit" title="Redigera station"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div ng-show="isEditing">
        <h1>Station {{ stationToEdit.StationNumber }}</h1>

        <div class="form-group">
            <div class="span4">
                Antal mål:
            </div>
            <div class="span4">
                <input ng-model="stationToEdit.NumberOfTargets" />
            </div>
        </div>

        <div class="form-group">
            <div class="span4">
                Antal skott:
            </div>
            <div class="span4">
                <input ng-model="stationToEdit.NumberOfShots" />
            </div>
        </div>

        <div class="form-group">
            <div class="span4">
                <label class="checkbox" for="EditedStationIsPoints" ng-class="{checked: stationToEdit.Points}">
                    <input type="checkbox" value="" id="EditedStationIsPoints" data-toggle="checkbox" />
                    Poängstation
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="span4">
                <label class="checkbox" for="EditedStationIsDistinguish" ng-class="{checked: stationToEdit.Distinguish}">
                    <input type="checkbox" value="" id="EditedStationIsDistinguish" data-toggle="checkbox" />
                    Station för särskiljning
                </label>
            </div>
        </div>
        
        <div class="form-group">
            <div class="span4">
                <button class="btn btn-primary" ng-click="saveEdit()">Spara</button>
            </div>
            <div class="span4">
                <button class="btn btn-warning" ng-click="cancelEdit()">Avbryt</button>
            </div>
            <div class="span4">
                <button class="btn btn-danger" ng-click="deleteStation()">Radera</button>
            </div>
        </div>
    </div>
</div>
